
.general-background{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.671);
    padding-top: 150px;
}

.container-img-desc{
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
    border: solid 2px rgba(0, 0, 0, 0.733);
}

.container-text-desc{
    margin-top: 20px;
    /* background-color: red; */
    margin-left: 30px;        
}
li{
    list-style: none;  
}
.container-text-desc h1{
    font-family: 'Carter One', cursive; 
    font-weight: lighter; 
    font-size: 70px;
    background: -webkit-linear-gradient(rgb(252, 0, 0), rgb(0, 0, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container-text-desc p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', sans-serif;
}
.container-text-desc p span, .bibliography span{
    font-size: 20px;
    color: rgb(245, 179, 36);
    font-family: 'Carter One';
}
.title-members-family{
    
    padding: 0;
    margin-top: 30px;
    font-family: 'Carter One';
    color: rgb(214, 147, 3);
    /* color: rgb(129, 19, 4); */
}
.figure{    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    border: solid 2px rgba(0, 0, 0, 0.733); 
    margin-right: 50px;
}

.face-family{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
}
.figure p{
    position: absolute;
    bottom: -50px;
    font-size: 20px;
    font-family: 'Carter One';
    width: 100%;
    left: 0;
}

.bibliography{
    margin-top: 30px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.name-face-color{
    color: rgb(155, 155, 253);
}

.link-house{
    cursor: pointer;
    color: rgb(205, 170, 238);
    font-size: x-large;
}


