<app-header [isHome]="isHome" [comeBack]="comeBack"></app-header>
<div class="background">
    <div class="container">
        <div class="row" *ngFor="let item of wizardList">
            <div class="box container-img-desc col-xl-3 col-lg-5 col-sm-12"
                style="background-image: url({{item.picture}});"></div>
            <div class="container-text-desc col ">
                <ul>
                    <li style="list-style: none;">
                        <h1 class="{{item.color}}">{{item.name}}</h1>
                    </li>
                    <br>
                    <li class="list-atributes">
                        <p><span>*Rol: </span>{{item.rol}}</p>
                    </li>
                    <li class="list-atributes">
                        <p><span>*Edad: </span>{{age}} años</p>
                    </li>
                    <li class="list-atributes">
                        <p><span>*Actor/Actriz: </span>{{item.actor}}</p>
                    </li>
                    <li class="list-atributes">
                        <p><span>*Sangre: </span>{{item.blood}}</p>
                    </li>
                    <li class="list-atributes">
                        <p><span>*Patronus: </span>{{item.patronus}}</p>
                    </li>
                    <li class="list-atributes">
                        <p><span>*Casa: </span>{{item.housename}} <span> <i *ngIf="displayIconsHouseAndWander(item.housename)"
                                    class="icon-links fa-sharp fa-solid fa-eye"></i></span></p>
                        <!-- Añadir button to link house -->
                    </li>
                    <li class="list-atributes">
                        <p><span>*Varita: </span>{{item.wanderInfo}} <span> <i *ngIf="displayIconsHouseAndWander(item.wanderInfo)"
                                    class="icon-links fa-sharp fa-solid fa-eye"></i></span></p>

                        <!-- Añadir button to link house -->
                    </li>
                </ul>
            </div>
            <div class="container-bibliography">
                <span class="bibliography-span">*Bibliografia: </span>
                <p class="bibliography" [innerHTML]="item.bibliography"></p>
            </div>
            <p *ngIf="membersFamily.length > 0" class="title-members-family">*Miembros de la familia {{familyName}}:</p>
        </div>
    </div>
    <br>
    <div *ngIf="membersFamily.length > 0" class="container">
        <div class="row column-row">
            <div class="figure col-3" *ngFor="let member of membersFamily">
                <div class="face-family" style="background-image: url({{member.facemember}});" (click)="displayDescriptionFromFamily(member.name)"></div>
                <a class="links-family" >
                    <p class="text-center name-face-color">{{member.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>