
.background{
    background-image: url(../../../../assets/img/fondo_desc_wiz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.container-img-desc{
    height: 480px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
    border: solid 10px rgba(0, 0, 0, 0.733);
}

.container-text-desc{
    margin-top: 20px;
    /* background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10%; */
    padding: 20px;
    margin-left: 30px;        
}

li{
    list-style: none;  
    margin-bottom: 5px;
}

/* Name wizard */
.container-text-desc h1{
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    display: inline;
    padding: 0 20px;
    font-family: 'Carter One', cursive; 
    font-weight: lighter; 
    font-size: 65px;
}

/* List with atributes */
.container-text-desc p span, .bibliography-span{
    font-size: 22px;
    color: rgb(243, 199, 103);
    font-family: 'Carter One';
    margin-right: 5px;
}
.container-text-desc p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10%;
    display: inline;
    padding: 4px;
}

.container-bibliography{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 5%;
    padding: 10px;
    }
    
.bibliography{
    text-align: justify;
    color: rgb(255, 255, 255);
}

.title-members-family{    
    padding: 0;
    font-family: 'Carter One';
    color: rgb(218, 124, 61);
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 5%;
    display: inline;
    padding: 5px;
    /* color: rgb(129, 19, 4); */
}
.figure{    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    border: solid 2px rgba(0, 0, 0, 0.733); 
    margin-right: 50px;
    margin-bottom: 40px;
}

.face-family{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
}
.figure p{
    position: absolute;
    bottom: -50px;
    font-size: 20px;
    font-family: 'Carter One';
    width: 100%;
    left: 0;
}
.name-face-color{
    color: rgb(255, 250, 250);
}
.name-face-color:hover{
    color: rgb(226, 147, 94);
}

.link-house{
    cursor: pointer;
    color: rgb(216, 104, 30);
    font-size: large;
}

.link-house:hover{
    transform: scale(1.2);
    color: blueviolet;
}

.green{
    color: rgb(31, 121, 14);
    border-radius: 100%;
    padding: 3px;
}
.red{
    color: rgb(194, 34, 34);
    border-radius: 100%;
    padding: 3px;
}
.gray{
    color: rgb(129, 90, 127);
    border-radius: 100%;
    padding: 3px;
}
.blue{
    color: rgb(38, 56, 212);
    border-radius: 100%;
    padding: 3px;
}
.yellow{
    color: rgb(230, 195, 3);
    border-radius: 100%;
    padding: 3px;
}

