.container-img-desc{
    height: 480px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
}

.container-text-desc{
    margin-top: 20px;
    margin-left: 30px;        
}

/* Name wizard */
h1{
    border-radius: 10px;
    display: inline;
    padding: 0 20px;
    font-size: 65px;
    color: rgba(0, 0, 0, 0.884);
    margin-bottom: 30px;
}


.container-bibliography{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    padding: 10px;
    }
    
.bibliography{
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 20px;
}



/* Styles of family */

.card:hover{
    transition: ease-out;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.918);
}