<div *ngIf="currentScreen == allWizardsCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/wizards/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/wizards/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == studentsCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/students/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/students/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == teachersCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/teachers/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/teachers/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == otherWizardsCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/others/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/others/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == mortifagosCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/mortifagos/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/mortifagos/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == animalsFantasticsCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/ani-fantastics/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/ani-fantastics/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == otherObjectsCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/others-objects/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/others-objects/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == wandersCategory" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/wanders/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/wanders/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == allCreatures" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/creatures/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/creatures/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == noDangerCreatures" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/no-danger/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/no-danger/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>

<div *ngIf="currentScreen == dangerCreatures" class="container-paginator">
    <ul *ngIf="listPages?.length > 0" class="pagination">
        <!-- Paginator button back -->
        <li class="page-item" *ngIf="paginator.number > 0">
            <a class="page-link" [routerLink]="['/danger/', paginator.number -1]"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        <li>
            <a></a>
        </li>
        <!-- Paginator button next -->
        <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
            <a class="page-link" [routerLink]="['/danger/' , paginator.number + 1]"><i class="fa-solid fa-arrow-right"></i></a>
        </li>
    </ul>
</div>