.container-paginator{
    position: absolute;
    right: 50%;
    transform: translate(50%, -50px);
    margin-bottom: 100px;
    height: 150px;
}

.page-link{
    background-color: rgb(32, 32, 32);
    text-decoration: none;
    color: blanchedalmond;
    border: 2px solid rgb(170, 164, 164);
    margin: 0 20px;
}

.page-link:hover, .page-link:active, .page-link:focus{
    color: inherit;
    background-color: rgb(133, 130, 127);
}

