<app-header [isHome]="isHome" [comeBack]="comeBack"></app-header>
<div id="background" class="background">
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="box-item col-xxl-3 col-xl-4 col-md-6 col-sm-12 " style="position: relative;"
                *ngFor="let item of objectsList">
                <div class="flip-box">
                    <div #fronthover class="flip-box-front text-center" style="background-image: url({{item.picture}})">
                        <div class="inner color-name">
                            <h3 #selectorName class="flip-box-header">{{item.name}}</h3>
                            <i (click)="hoverUsingArrowCardOnClick(fronthover, backhover)"
                                (mouseover)="remarkName(selectorName, 'objects')" (mouseleave)="remarkName(selectorName, 'objects')"
                                id="color-arrow" class="fa-solid fa-circle-right flip-box-arrow {{item.color}}"></i>
                        </div>
                    </div>
                    <div #backhover (mouseenter)="showAnimationClick(animationRotation)" (click)="hoverUsingBackCardOnClick(fronthover, backhover)"
                        class="flip-box-back text-center" style="background-image: url({{item.backcard}});">
                        <div #animationRotation class="animation-rotate" style="display: none">
                            <img src="../../../assets/img/click.png" alt="">
                        </div>
                        <div class="inner">
                            <button *ngIf="backcardHorocrux" class="flip-box-button" (click)="seeDescription(item.name, 'horocruxes')">Más información</button>
                            <button *ngIf="backcardReliques" class="flip-box-button" (click)="seeDescription(item.name, 'reliques')">Más información</button>
                            <button *ngIf="backcardWanders" class="flip-box-button" (click)="seeDescription(item.name, 'wanders')">Más información</button>
                            <button *ngIf="backcardOthers" class="flip-box-button" (click)="seeDescription(item.name, 'others-objects')">Más información</button>
                            <button *ngIf="backcardQuiddich" class="flip-box-button" (click)="seeDescription(item.name, 'quiddich')">Más información</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Important to ask if paginator has been inject (asinchronous comunication) -->
            <app-paginator *ngIf="paginator" [paginator]="paginator" [currentScreen]="currentScreen"></app-paginator>
        </div>
    </div>
</div>
<br>
<br>