.background {
    background-image: url(../../../assets/img/backgrounds/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* .sticker-center{
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 50%;
    position: absolute;
    top: 17%;
    right: 52%;
    transform: translateX(50%);
} */

/* Styles cards home */
.card-box {
    margin-bottom: 60px;
}

.box-front {
    position: relative;
    border-radius: 8px;
    min-height: 300px;
    transition: transform 0.7s cubic-bezier(.40, .2, .2, 1);
    background-color: rgba(255, 255, 255, 0.589);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.507) 30%, rgba(130, 130, 130, 0.562) 100%);
    cursor: pointer;
}

.box-front:hover {
    transform: scale(1.02);
    background: radial-gradient(circle, rgb(255, 255, 255) 30%, rgba(130, 130, 130, 0.87) 100%);
}

.container-sticker {
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 18%;
}

.text-cards {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    font-family: 'Carter One', cursive;
}