<app-header></app-header>
<!-- *                                        HOME MAIN SCREEN -->

<div class="background">
    <div class="container" style="margin-top: 60px;">
        <div class="row justify-content-around" *ngIf="displayHomeMainScreen">

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'wiz-cat'" [image]="'../../../assets/img/stickers/home/wizards.png'"
                    [title]="'Magos'"></app-card-home>
            </div>


            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'mor-cat'" [image]="'../../../assets/img/stickers/home/mortifagos.png'"
                    [title]="'Villanos'"></app-card-home>
            </div>

            <div class="w-100"></div>


            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'obj-cat'" [image]="'../../../assets/img/stickers/home/places.png'"
                    [title]="'Objetos Magicos'"></app-card-home>
            </div>


            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12 mb-5" style="position: relative;">
                <app-card-home [category]="'cre-cat'" [image]="'../../../assets/img/stickers/home/creatures.png'"
                    [title]="'Criaturas'"></app-card-home>
            </div>
        </div>

        <!--*                                            HOME PART SECTION WIZARDS -->
        <div class="row justify-content-around" *ngIf="displayWizardHomeScreen">

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'students/0'" [image]="'../../../assets/img/stickers/home/wizards2.png'"
                    [title]="'Estudiantes'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'teachers/0'" [image]="'../../../assets/img/stickers/home/hogwarts.png'"
                    [title]="'Profesores'"></app-card-home>
            </div>
           

            <div class="w-100"></div>

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'others/0'" [image]="'../../../assets/img/stickers/home/otros.png'"
                    [title]="'Otros Magos'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-6 col-12" style="position: relative;">
                <app-card-home [category]="'ani-fantastics/0'"
                    [image]="'../../../assets/img/stickers/home/criaturas3.png'"
                    [title]="'Saga A.Fantasticos'"></app-card-home>
            </div>
        </div>

        <!--*                                              HOME PART SECTION MORTIFAGOS -->

        <div class="row" *ngIf="displayMortifagosHomeScreen" style="display: flex; justify-content: center;">

            <div class="col-xxl-3 col-xl-4 col-md-5 col-sm-12">
                <app-card-home [category]="'mortifagos/0'"
                    [image]="'../../../assets/img/stickers/home/mortifagos_2.png'"
                    [title]="'Mortifagos'"></app-card-home>
            </div>           
        </div>


<!-- *                                             HOME PART SECTION OBJECTS -->
        <div class="row justify-content-center" *ngIf="displayObjectsHomeScreen">

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                <app-card-home [category]="'reliques/0'" [image]="'../../../assets/img/stickers/home/reliquias.png'"
                    [title]="'Reliquias de la Muerte'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                <app-card-home [category]="'wanders/0'" [image]="'../../../assets/img/stickers/home/magos.png'"
                    [title]="'Varitas'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                <app-card-home [category]="'quiddich/0'" [image]="'../../../assets/img/stickers/home/quiddich2.png'"
                    [title]="'Quddich'"></app-card-home>
            </div>

            <div class="w-100 d-none d-md-block"></div>

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                <app-card-home [category]="'horocruxes/0'" [image]="'../../../assets/img/stickers/home/horocruxes.png'"
                    [title]="'Horocruxes'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-5 marginLeftCorrection">
                <app-card-home [category]="'others-objects/0'" [image]="'../../../assets/img/stickers/home/magic-objects.png'"
                    [title]="'Objectos Magicos'"></app-card-home>
            </div>

        </div>

<!-- *                                        HOME PART SECTION CREATURES -->

        <div class="row justify-content-around" *ngIf="displayCreaturesHomeScreen">

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-5 marginLeftCorrection">
                <app-card-home [category]="'no-danger/0'" [image]="'../../../assets/img/stickers/home/sociables.png'"
                    [title]="'Sociables'"></app-card-home>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-5 marginLeftCorrection">
                <app-card-home [category]="'danger/0'" [image]="'../../../assets/img/stickers/home/peligrosas.png'"
                    [title]="'Peligrosas'"></app-card-home>
            </div>
        </div>
    </div>
</div>


