.background {
    background-image: url(../../../assets/img/backgrounds/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 72px;
}

/* CSS para dispositivos de tamaño extra pequeño (xs) */
@media (max-width: 575.98px) {
    .background{
        background-image: none;
        background-color: black;
     }
}

/* CSS para dispositivos de tamaño pequeño (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .background{
        background-image: none;
        background-color: black;
     }
     .marginLeftCorrection{
        margin-right: auto;
     }
}

/* CSS para dispositivos de tamaño mediano (md) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
    .red-background {
        display: none; 
    }
} */

/* CSS para dispositivos de tamaño grande (lg) */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
    .red-background {
        display: block; 
    }
} */

