.background {
    background-image: url(../../../assets/img/backgrounds/wizard-list-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.flip-box-front,
.flip-box-back {
    border: 7px solid rgba(0, 0, 0, 0.884);
}

.color-text {
    color: rgb(235, 7, 7);
}

.flip-box-header {
    background-color: #0a0909c7;
    color: rgb(218, 178, 47);
}

.flip-box-arrow {
    color: rgb(0, 0, 0);
}

.flip-box-arrow:hover {
    background-color: rgb(214, 210, 212);
}

/* COLORS HOUSES */
.green {
    background-color: rgb(23, 105, 7);
}

.red {
    background-color: rgb(121, 7, 7);
}

.gray {
    background-color: rgb(129, 90, 127);
}

.blue {
    background-color: rgb(19, 35, 173);
}

.yellow {
    background-color: rgb(167, 142, 0);
}

.orange {
    background-color: rgb(255, 140, 8);
}


.flip-box-button {
    border: 2px solid #252525;
    color: #c7c2c2;
}

.flip-box-button:hover{
    color: white;
    border-color: white;
}
