<!-- SCREEN FOR WIZARDS -->
<div *ngIf="numberScreen == 1">
    <div class="container-left">
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/hermione-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/ron-sticker.png">
        </div>
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/voldemort-sticker.png">
            <img src="" alt="">
        </div>
    </div>
    <div class="container-right">
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/harry-sticker.png">
        </div>
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/snape-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark" src="../../../assets/img/stickers/dumbledore-sticker.png">
        </div>
    </div>
</div>
<!-- SCREEN FOR OBJECTS -->
<div *ngIf="numberScreen == 2">
    <div class="container-left">
        <div>
            <img class="sticker-mark-objects" src="../../../assets/img/stickers/object-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-objects" src="../../../assets/img/stickers/object-sticker4.png">
        </div>
        <div>
            <img class="sticker-mark-objects" style="width: 200px; height: 200px;" src="../../../assets/img/stickers/object-sticker5.png">
            <img src="" alt="">
        </div>
    </div>
    <div class="container-right">
        <div>
            <img class="sticker-mark-objects" src="../../../assets/img/stickers/object-sticker2.png">
        </div>
        <div>
            <img class="sticker-mark-objects" src="../../../assets/img/stickers/quiddich-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-objects" src="../../../assets/img/stickers/quiddich-sticker2.png">
        </div>
    </div>
</div>
<!-- SCREEN FOR CREATURES -->
<div *ngIf="numberScreen == 3">
    <div class="container-left">
        <div>
            <img class="sticker-mark-creatures" style="height: 150px" src="../../../assets/img/stickers/creature-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/creature-sticker3.png">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/creature-sticker5.png">
            <img src="" alt="">
        </div>
    </div>
    <div class="container-right">
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/creature-sticker4.png">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/creature-sticker6.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/fenix-sticker.png">
        </div>
    </div>
</div>

<!-- SCREEN FOR ANIMALES FANTASTICOS -->
<div *ngIf="numberScreen == 4">
    <div class="container-left">
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker3.png">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker5.png">
            <img src="" alt="">
        </div>
    </div>
    <div class="container-right">
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker2.png">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker4.png">
            <img src="" alt="">
        </div>
        <div>
            <img class="sticker-mark-creatures" src="../../../assets/img/stickers/animals-sticker6.png">
        </div>
    </div>
</div>
