.container{
display: flex;
justify-content: flex-end;
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
      color: bisque;
  }
  
  input{
    border: 2px solid rgb(212, 134, 16);
    background-color: rgb(243, 230, 170);
  }

  .button-search{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    /* border-radius: 50%;
    background-color: rgb(212, 134, 16); */
  }

  .icon-search{
    font-size: 25px;
    color: rgb(212, 134, 16); 
    cursor: pointer;
  }
  