/* You can add global styles to this file, and also import other style files */
body{
 background-color: black;
}

/* These are the styles from descroption hipervincules */
.textHiper{
    text-decoration: none;
    color: rgb(106, 187, 40);
}

.textHiper:hover{
    color: greenyellow;
}

/* These are the styles from description picture*/

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 100%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  :root {
	--d: 4000ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(0, 0, 0);
	--c2: rgba(82, 77, 77, 0.301);
}
.box {
	border: 0.4rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear forwards infinite;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}