
.background{
    background-image: url(../../../../assets/img/backgrounds/houses.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

}

.container-img-desc{
    height: 480px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
}


.container-text-desc{
    margin-top: 20px;
    margin-left: 30px;        
}

li{
    list-style: none;  
    margin-bottom: 5px;
}

/* Name wizard */
.container-text-desc h1{
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 10px;
    display: inline;
    padding: 0 20px;
    font-family: 'Carter One', cursive; 
    font-weight: lighter; 
    font-size: 65px;
}

/* List with atributes */
.container-text-desc p span, .bibliography-span{
    font-size: 22px;
    color: rgb(243, 199, 103);
    font-family: 'Carter One';
    margin-right: 5px;
}
.container-text-desc p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 10%;
    display: inline;
    padding: 4px;
}

.container-bibliography{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    padding: 10px;
    }
    
.bibliography{
    text-align: justify;
    color: rgb(255, 255, 255);
}



/* Styles of family */

.title-members-family{    
    padding: 0;
    font-family: 'Carter One';
    font-size: 22px;
    color:  rgb(243, 199, 103);
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 5%;
    padding: 5px;
    margin-top: 20px;
    display: inline;
    width: auto;
}

.figure{    
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: relative;
    border: solid 2px rgba(0, 0, 0, 0.384); 
    margin-right: 50px;
    margin-bottom: 40px;
}

.face-family{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    cursor: pointer;
}
.face-family:hover{
    transform: scale(1.05);
    border: solid 1px rgba(234, 234, 235, 0.699);
}
.figure p{
    position: absolute;
    bottom: -50px;
    font-size: 20px;
    font-family: 'Carter One';
    width: 100%;
    left: 0;
}

/*Styles of icons */
.icon-links{
    cursor: pointer;
    color: rgb(173, 173, 175);
    font-size: large;
}
.icon-links:hover{
    transform: scale(1.2);
    color: rgb(238, 211, 91);
}

/*Titles colors*/
.green{
    color: rgb(34, 143, 41);
}
.red{
    color: rgb(151, 11, 11);
}
.gray{
    color: rgb(129, 90, 127);
}
.blue{
    color: rgb(38, 56, 212);
}
.yellow{
    color: rgb(230, 195, 3);
}
.orange{
    color: rgb(255, 140, 8);
}

